<ul>
  <% ads.each_with_index do |ad, i| %>
    <li class="ad_excerpt">
      <% if ad_tab? %>
        <%= render "ads/actions", ad: ad %>
      <% end %>

      <%= render "ads/ad", ad: ad %>
    </li>

    <% if [5, 10, 15].include?(i) %>
      <li class="adsense_excerpt">
        <%= render "partials/google_adsense", class_name: "google_adsense_300_250", ad_slot: "8702329269" %>
      </li>
    <% end %>
  <% end %>
</ul>
