<form method="get" class="searchbox" action="/es/search/"><dl class="zend_form">
<dd id="q-element">
<input name="q" id="q" value="" type="text"></dd>
<dd id="ad_type-element">
<input name="ad_type" value="1" id="ad_type" type="hidden"></dd>

<input name="submit" id="submit" value="buscar" type="submit">
<dd id="woeid-element">
<input name="woeid" value="766273" id="woeid" type="hidden"></dd>
</dl>
</form> 