<div class="ad_meta_info">
  <span class="right small">
    <%= t('nlt.readed_count', count: readed_count) %>

    <% if comments_count > 0 %>
      <%= t('nlt.comments_count', count: comments_count) %>
    <% end %>
  </span>
</div>
