<div class="ad_meta_info">
  <span class="right small">
    <%= t('nlt.readed_count', count: ad.readed_counter) %>

    <% if ad.comments_count > 0 %>
      <%= t('nlt.comments_count', count: ad.comments_count) %>
    <% end %>
  </span>
</div>
