<div class="ad_meta_info">
  <span class="right small">
    <% if readed_count > 0 %>
      <%= t('nlt.n_reads', count: readed_count) %>
    <% end %>

    <% if comments_count > 0 %>
      <%= t('nlt.n_comments', count: comments_count) %>
    <% end %>
  </span>
</div>
