<!-- TODO: can an user edit or view messages from another user? -->
%ul#tabnav
  %li
    = link_to_unless_current t('nlt.messages_tabs.inbox'), ( messages_path(box: 'inbox') || messages_path ) 
  %li
    = link_to_unless_current t('nlt.messages_tabs.sent'), messages_path(box: 'sent')
  %li
    = link_to_unless_current t('nlt.messages_tabs.trash'), messages_path(box: 'trash') 
