- title = t('mailboxer.new.title', user: @recipient.username)
- content_for :meta_title, title

#default_header_section
  %h1
    = title
#main
  .col-md-7
    = render "form", message: @message

  .col-md-5
    = render partial: "partials/google_adsense", locals: { class_name: "google_adsense_336_280", ad_slot: "7225596067"}
