<% content_for :title, t('devise.confirmations.resend') %> %>

<div class="default_header_section">
  <h1><%= content_for :title %></h1>
</div>

<div class="default_content_section">
  <div class="row">
    <div class="col-md-8 col-sm-8">
      <%= render "form" %>
    </div>
  </div>
</div>
