<% content_for(:meta_title, t('devise.confirmations.resend')) %>

<div class="default_header_section">
  <h1><%= t('devise.confirmations.resend') %></h1>
</div>

<div class="col-md-8 col-sm-8">
  <div class="row">
    <%= render "form" %>
  </div>
</div>
