<div class="comments">
  <% if comments.any? %>
    <h5><%= t('nlt.comments.title') %></h5>

    <% comments.each do |comment| %>
      <div class="comment">
        <%= linked_published_ago_by(comment.created_at, comment.user) %>

        <span><%= comment.filtered_body %></span>
      </div>
    <% end %>
  <% end %>

  <% if policy(@comment).create? %>
    <div class="comment_form">
      <%= render "comments/form", comment: @comment %>
    </div>
  <% end %>
</div>
