<div class="ad_comments">
  <% if comments.any? %>
    <h5><%= t('nlt.comments.title') %></h5>

    <% comments.each do |comment| %>
      <div class="ad_comment">
        <%= published_ago_by(comment.created_at, comment.user) %>
       <br>
       <span><%= comment.body %></span>
      </div>
    <% end %>
  <% end %>

  <% if policy(@comment).create? %>
    <div class="ad_comment_form">
      <%= render "comments/form", comment: @comment %>
    </div>
  <% end %>
</div>
