<% if ad.comments_enabled? %>
  <% if user_signed_in? %>
    <% if ad.comments.any? %>
      <%= render :partial => "comments/list", :locals => {:comments => ad.comments} %>
    <% end %>
    <%= render :partial => "comments/form", :locals => {:ad => ad.id} %>
  <% else %>
    <div class="ad_comment_form">
      <%= link_to new_user_session_path, t('nlt.login_to_comment') %>
    </div>
  <% end %>
<% end %>
