<% if ad.comments_enabled? %>
  <% if ad.comments.any? %>
    <%= render :partial => "comments/list", :locals => {:comments => ad.comments.includes(:user)} %>
  <% end %>
  <% if user_signed_in? %>
    <%= render :partial => "comments/form", :locals => {:ad => ad.id} %>
  <% else %>
    <div class="ad_comment_form">
      <%= link_to t('nlt.login_to_comment'), new_user_session_path %>
    </div>
  <% end %>
<% end %>
