---
http_interactions:
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?format=json&q=select%20*%20from%20geo.places%20where%20text%20=%20%27tenerifa%27%20AND%20placetype%20=%20%277%27%20AND%20lang%20=%20%27es%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"count":0,"created":"2018-02-17T15:21:48Z","lang":"en-US","results":null}}'
  recorded_at: Sat, 17 Feb 2018 15:21:48 GMT
recorded_with: VCR 4.0.0
