---
http_interactions:
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?format=json&q=select%20*%20from%20geo.places%20where%20woeid%20=%20222222%20AND%20lang%20=%20%27es%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - prod_bf1_1;paas.yql;queryyahooapiscomproductionbf1;0f9b3e87-6639-11e6-a2c9-d4ae52974741
      Content-Type:
      - application/json; charset=UTF-8
      Y-Trace:
      - BAEAQAAAAACZSqx5E4IhOAAAAAAAAAAAqtJ2t8O9tUUAAAAAAAAAAAAFOw5CFD8CAAU7DkIUZHepYkhDAAAAAA--
    body:
      encoding: UTF-8
      string: '{"query":{"count":0,"created":"2016-08-27T14:15:07Z","lang":"en-US","results":null}}'
  recorded_at: Sat, 27 Aug 2016 14:15:07 GMT
recorded_with: VCR 3.0.3
