---
http_interactions:
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?format=json&q=select%20*%20from%20geo.places%20where%20text%20=%20%27tenerifa%27%20AND%20placetype%20=%20%277%27%20AND%20lang%20=%20%27es%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - prod_bf1_1;paas.yql;queryyahooapiscomproductionbf1;9afece69-259e-11e7-b972-d4ae52974741
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"count":0,"created":"2017-04-21T14:10:56Z","lang":"en-US","results":null}}'
  recorded_at: Fri, 21 Apr 2017 14:10:56 GMT
recorded_with: VCR 3.0.3
