---
http_interactions:
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?format=json&q=select%20*%20from%20geo.places%20where%20text%20=%20%27tenerifa%27%20AND%20placetype%20=%20%277%27%20AND%20lang%20=%20%27es%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - prod_bf1_1;paas.yql;queryyahooapiscomproductionbf1;7df05e69-a2af-11e6-9353-d4ae5297450a
      Content-Type:
      - application/json;charset=utf-8
      Y-Trace:
      - BAEAQAAAAADWP0CGDIOtKwAAAAAAAAAAECw8RNkWi.gAAAAAAAAAAAAFQKQvr92PAAVApC.wA_fIFotVAAAAAA--
    body:
      encoding: UTF-8
      string: '{"query":{"count":0,"created":"2016-11-06T16:13:22Z","lang":"en-US","results":null}}'
  recorded_at: Sun, 06 Nov 2016 16:13:22 GMT
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?format=json&q=select%20*%20from%20geo.places%20where%20text%20=%20%27tenerifa%27%20AND%20placetype%20=%20%277%27%20AND%20lang%20=%20%27es%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - prod_bf1_1;paas.yql;queryyahooapiscomproductionbf1;a83e677f-a2ae-11e6-9353-d4ae5297450a
      Content-Type:
      - application/json;charset=utf-8
      Y-Trace:
      - BAEAQAAAAAA3Jlkq7asiAAAAAAAAAAAAkv9i5uugFswAAAAAAAAAAAAFQKQvto1AAAVApC.2s2375UZ6AAAAAA--
    body:
      encoding: UTF-8
      string: '{"query":{"count":0,"created":"2016-11-06T16:13:22Z","lang":"en-US","results":null}}'
  recorded_at: Sun, 06 Nov 2016 16:13:23 GMT
recorded_with: VCR 3.0.3
