---
http_interactions:
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?format=json&q=select%20*%20from%20geo.places%20where%20woeid%20=%20222222%20AND%20lang%20=%20%27es%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - prod_bf1_1;paas.yql;queryyahooapiscomproductionbf1;a25f7b76-81e1-11e6-a7b2-d4ae5297450a
      Content-Type:
      - application/json; charset=UTF-8
      Y-Trace:
      - BAEAQAAAAACva9RrtxJlwgAAAAAAAAAAs2PHSKhNWQYAAAAAAAAAAAAFPTZ_fkpvAAU9Nn9.Zow6rV.qAAAAAA--
    body:
      encoding: UTF-8
      string: '{"query":{"count":0,"created":"2016-09-24T01:06:00Z","lang":"en-US","results":null}}'
  recorded_at: Sat, 24 Sep 2016 01:06:00 GMT
recorded_with: VCR 3.0.3
