<div class="message-excerpt">
  <div class="message-container">
    <div class="<%= bubble_edge_css_class(message) %>">
    </div>
    <div class="<%= bubble_css_classes(message) %>">
      <div class="message-date">
        <%= time_ago_in_words(message.created_at) %>
      </div>
      <%= simple_format(message.body) %>
    </div>
  </div>
</div>
