<div class="message-excerpt">
  <div class="message-container">
    <% if message.sender == message.conversation.originator %>
      <div class="triangle-me">
      </div>
      <div class="bubble bg-bubble-me">
        <div class="message-date">
          <%= time_ago_in_words(message.created_at) %>
        </div>
        <%= simple_format(message.body) %>
      </div>
    <% else %>
      <div class="triangle-other">
      </div>
      <div class="bubble">
        <div class="message-date">
          <%= time_ago_in_words(message.created_at) %>
        </div>
        <%= simple_format(message.body) %>
      </div>
    <% end %>
  </div>
</div>
