- title = t('mailboxer.new.title', user: @interlocutor.username)
- content_for :meta_title, title

#default_header_section
  %h1
    = title

.col-md-7.col-sm-7
  .row
    = render "form", message: @message

.col-md-5.col-sm-5
  = render "partials/google_adsense", class_name: "google_adsense_336_280", ad_slot: "7225596067"
