<% title = t('conversations.new.title', user: @interlocutor.username) %>
<% content_for :title, title %>

<div class="default_header_section">
  <h1><%= title.to_s %></h1>
</div>

<div class="default_content_section">
  <div class="row">
    <div class="col-md-7 col-sm-7">
      <%= render "form", message: @message %>
    </div>
  </div>
</div>
