<% content_for :title do %>
  <% t('conversations.new.title', user: @interlocutor.username) %>
<% end %>

<div class="default_header_section">
  <h1><%= content_for :title %></h1>
</div>

<div class="default_content_section">
  <div class="row">
    <div class="col-md-7 col-sm-7">
      <%= render "form", message: @message %>
    </div>
  </div>
</div>
