<% if defined? class_name %>
  <div class="google_ads <%= class_name %>">
<% else %>
  <div class="google_ads">
<% end %>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- nolotiro-responsive -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-5360961269901609"
        data-ad-slot="7495332060"
        data-ad-format="auto">
    </ins>
    <script>
      window.onload = function() {
        (adsbygoogle = window.adsbygoogle || []).push({});
      };
    </script>

</div>
