<div class="center">
  <ins class="adsbygoogle <%= class_name %>"
       style="display:inline-block;"
       data-ad-client="ca-pub-5360961269901609"
       data-ad-slot="<%= ad_slot %>"></ins>
</div>
