<% if I18n.locale == abbr.to_sym %>
  <%= link_to locale_path(abbr),
            class: "lang lang-active",
            "data-langcode" => abbr do %>
    <i class="glyphicon glyphicon-globe"></i>
    <span><%= language %></span>
  <% end %>
<% else %>
  <%= link_to locale_path(abbr), class: "lang", "data-langcode" => abbr do %>
    <span><%= language %></span>
  <% end %>
<% end %>
