<%= render layout: 'partials/ranking', locals: { title_key: title_key } do %>
  <% scope.each do |loc| %>
    <li>
      <%= link_to ads_woeid_path(loc.woeid_code, type: "give") do %>
        <%= loc.woeid_name_short %> (<%= loc.n_ads %>)
      <% end %>
    </li>
  <% end %>
<% end %>
