<%= render layout: 'partials/ranking',
           locals: { title_key: title_key, ranking: ranking } do %>
  <% ranking.ranked.each do |id, name, n_ads| %>
    <li>
      <%= link_to "#{name} (#{n_ads})", ads_woeid_path(id, type: "give") %>
    </li>
  <% end %>
<% end %>
