<div class="section_locations">

  <h2>ciudades del mundo que más reciclan</h2>
  <br>

  <ul>
    <li>
    <a href="/es/woeid/766273/give">Madrid, Madrid, España (25282)</a>
    </li>
    <li>
    <a href="/es/woeid/753692/give">Barcelona, Cataluña, España (20984)</a>
    </li>
    <li>
    <a href="/es/woeid/773692/give">Santa Cruz de Tenerife, Islas Canarias, España (7857)</a>
    </li>
    <li>
    <a href="/es/woeid/776688/give">Valencia, Valencia, España (3803)</a>
    </li>
    <li>
    <a href="/es/woeid/751648/give">Albacete, Castilla-La Mancha, España (2820)</a>
    </li>
    <li>
    <a href="/es/woeid/777341/give">Vigo, Galicia, España (2393)</a>
    </li>
    <li>
    <a href="/es/woeid/774508/give">Sevilla, Andalucía, España (2091)</a>
    </li>
    <li>
    <a href="/es/woeid/769528/give">Parla, Madrid, España (1140)</a>
    </li>
    <li>
    <a href="/es/woeid/779063/give">Zaragoza, Aragón, España (792)</a>
    </li>
    <li>
    <a href="/es/woeid/775246/give">Tarragona, Cataluña, España (787)</a>
    </li>
    <li>
    <a href="/es/woeid/775524/give">Toledo, Castilla-La Mancha, España (574)</a>
    </li>
    <li>
    <a href="/es/woeid/754542/give">Bilbao, País Vasco, España (545)</a>
    </li>
    <li>
    <a href="/es/woeid/761570/give">Gijón, Asturias, España (431)</a>
    </li>
    <li>
    <a href="/es/woeid/775868/give">Torrevieja, Valencia, España (428)</a>
    </li>
    <li>
    <a href="/es/woeid/766356/give">Málaga, Andalucía, España (413)</a>
    </li>
    <li>
    <a href="/es/woeid/776745/give">Valladolid, Castilla y León, España (323)</a>
    </li>
    <li>
    <a href="/es/woeid/761766/give">Granada, Andalucía, España (322)</a>
    </li>
    <li>
    <a href="/es/woeid/758007/give">Córdoba, Andalucía, España (312)</a>
    </li>
    <li>
    <a href="/es/woeid/763246/give">La Coruña, Galicia, España (271)</a>
    </li>
    <li>
    <a href="/es/woeid/761869/give">Guadalajara, Castilla-La Mancha, España (256)</a>
    </li>
    <li>
    <a href="/es/woeid/752101/give">Alicante, Valencia, España (158)</a>
    </li>
    <li>
    <a href="/es/woeid/762761/give">Jaén, Andalucía, España (157)</a>
    </li>
    <li>
    <a href="/es/woeid/769112/give">Oviedo, Asturias, España (145)</a>
    </li>
    <li>
    <a href="/es/woeid/773418/give">San Sebastián, País Vasco, España (129)</a>
    </li>
    <li>
    <a href="/es/woeid/755404/give">Cádiz, Andalucía, España (118)</a>
    </li>
    <li>
    <a href="/es/woeid/772416/give">Salamanca, Castilla y León, España (96)</a>
    </li>
    <li>
    <a href="/es/woeid/769293/give">Palma, Islas Baleares, España (95)</a>
    </li>
    <li>
    <a href="/es/woeid/761024/give">Fuenlabrada, Madrid, España (92)</a>
    </li>
    <li>
    <a href="/es/woeid/768026/give">Murcia, Murcia, España (82)</a>
    </li>
    <li>
    <a href="/es/woeid/116545/give">Ciudad de México, Distrito Federal, México (82)</a>
    </li>
    <li>
    <a href="/es/woeid/773964/give">Santander, Cantabria, España (81)</a>
    </li>
    <li>
    <a href="/es/woeid/775901/give">Tortosa, Cataluña, España (78)</a>
    </li>
    <li>
    <a href="/es/woeid/769330/give">Pamplona, Comunidad Foral de Navarra, España (73)</a>
    </li>
    <li>
    <a href="/es/woeid/778899/give">Vitoria, País Vasco, España (72)</a>
    </li>
    <li>
    <a href="/es/woeid/765455/give">Logroño, La Rioja, España (69)</a>
    </li>
    <li>
    <a href="/es/woeid/761600/give">Girona, Cataluña, España (69)</a>
    </li>
    <li>
    <a href="/es/woeid/752852/give">Arganda del Rey, Madrid, España (66)</a>
    </li>
    <li>
    <a href="/es/woeid/773998/give">Santiago de Compostela, Galicia, España (59)</a>
    </li>
    <li>
    <a href="/es/woeid/767158/give">Mieres del Camino, Asturias, España (59)</a>
    </li>
    <li>
    <a href="/es/woeid/766207/give">Lugo, Galicia, España (58)</a>
    </li>
  </ul>

</div>
