<div class="section_users">

  <h2><%= t('nlt.users_most_active') %></h2>
  <br>
  <ul>
    <% section_users.each do |u| %>
      <li>
      <a href="/es/ad/listuser/id/<%= u.id %>">
        <%= u.username %> (<%= u.ads_count %>)
      </a>
      </li>
    <% end %>
  </ul>


</div>
