<div class="section_locations">

  <h2><%= t('nlt.cities_in_the_world') %></h2>
  <br>

  <ul>
    <% section_locations.each do |loc| %>
      <li>
      <%= link_to woeid_path(loc[0]) do %>
        <%= WoeidHelper.convert_woeid_name loc[0] %> (<%= loc[1] %>) 
      <% end %>
      </li>
    <% end %>
  </ul>

</div>
