<div class="section_users">

  <h2><%= t('nlt.users_most_active') %></h2>
  <br>
  <ul>
    <% section_users.each do |u| %>
      <li>
      <%= link_to listads_user_path u.id do %>
        <%= u.username %> (<%= u.ads_count %>)
      <% end %>
      </li>
    <% end %>
  </ul>


</div>
