<div class="ranking">
  <h2><%= t('nlt.users_most_active_last_week') %></h2>

  <ul>
    <% User.top_last_week(20).each do |u| %>
      <li>
        <%= link_to listads_user_path u.id do %>
          <%= u.username %> (<%= u.n_ads %>)
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
