<button type='button' id='dLabel' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
  <i class='glyphicon glyphicon-globe'></i>
  <%= available_languages[I18n.locale] %>
  <span class='caret'></span>
</button>

<ul class='dropdown-menu' aria-labelledby='dLabel'>
  <% available_languages.each do |abbr, language| %>
    <li>
      <%= link_to locale_path(abbr), class: 'lang', 'data-langcode' => abbr do %>
        <span><%= language %></span>
      <% end %>
    </li>
  <% end %>

  <li>
    <%= link_to 'Otro...', translate_path, class: 'lang' %>
  </li>
</ul>
