
<div id="social-butttons">
  <div id="google-button">
    <div id="___plusone_1" style="text-indent: 0px; margin: 0px; padding: 0px; background: none repeat scroll 0% 0% transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 90px; height: 20px;"><iframe title="+1" data-gapiattached="true" src="https://apis.google.com/u/0/_/+1/fastbutton?usegapi=1&amp;bsv=o&amp;size=medium&amp;hl=es&amp;origin=http%3A%2F%2Fnolotiro.org&amp;url=http%3A%2F%2Fnolotiro.org%2F&amp;gsrc=3p&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en.ORnOFvvdM_I.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAItRSTNO7cebcMT3Ua3DTr5qULAXLSRwzg#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh&amp;id=I1_1383819649763&amp;parent=http%3A%2F%2Fnolotiro.org&amp;pfname=&amp;rpctoken=34039969" name="I1_1383819649763" id="I1_1383819649763" vspace="0" tabindex="0" style="position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" marginwidth="0" marginheight="0" hspace="0" scrolling="no" width="100%" frameborder="0"></iframe></div>
  </div>
  <div id="twitter-button">
    <iframe style="width: 117px; height: 20px;" data-twttr-rendered="true" title="Twitter Tweet Button" class="twitter-share-button twitter-tweet-button twitter-count-horizontal" src="http://platform.twitter.com/widgets/tweet_button.1383343979.html#_=1383819649738&amp;count=horizontal&amp;id=twitter-widget-1&amp;lang=es&amp;original_referer=http%3A%2F%2Fnolotiro.org%2Fes%2Fad%2F151695&amp;related=alabs_es&amp;size=m&amp;text=No%20lo%20tiro%2C%20te%20lo%20regalo%20(sin%20condiciones)&amp;url=http%3A%2F%2Fnolotiro.org%2F&amp;via=nolotiro" allowtransparency="true" id="twitter-widget-1" scrolling="no" frameborder="0"></iframe><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  </div>
  <div id="facebook-button">
    <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.facebook.com/nolotiroteloregalo%2F&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" style="border:none; overflow:hidden; width:450px; height:21px;" allowtransparency="true" scrolling="no" frameborder="0"></iframe>
  </div>
</div>
