
<div id="social-butttons">
  <div id="twitter-button">
    <a href="http://twitter.com/share" class="twitter-share-button" data-url="<%= url %>" data-text="<%= t('nlt.slogan') %>" data-count="horizontal" data-via="nolotiro" data-related="alabs_es" data-lang="es">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  </div>
  <div id="facebook-button">
    <div class="fb-like" data-href="<%= url %>" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
  </div>
</div>
