<div class="ranking">
  <h2><%= t("nlt.#{title_key}") %></h2>

  <ul>
    <% scope.each do |u| %>
      <li>
        <%= link_to listads_user_path u.id do %>
          <%= u.username %> (<%= u.n_ads %>)
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
