<div class="ranking">
  <h2><%= t("nlt.#{title_key}") %></h2>

  <ul>
    <% scope.each do |id, username, n_ads| %>
      <li>
        <%= link_to listads_user_path id do %>
          <%= username %> (<%= n_ads %>)
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
