
<div id="default_header_section">
  <h1>Para publicar anuncios o enviar mensajes accede a tu cuenta</h1>
  <br><br>
  (Si eres un nuevo usuario, por favor  &nbsp;
  <%= link_to "regístrate aquí", new_user_registration_path, "data-no-turbolink" => true, :title => "user register" %>)
</div>
