
<div id="default_header_section">
  <h1><%= t('nlt.to_publish_or_send_messages') %></h1>
  <br><br>
  (<%= t 'nlt.if_you_are_new' %>
  <%= link_to t('nlt.register_here'), new_user_registration_path, "data-no-turbolink" => true, :title => "user register" %>)
</div>
