<% unless user.friends.count == 0 %>
  <div>
  <h4><%= t('nlt.friends') %>:</h4>
  <ul>
    <% user.friends.each do |friend| %>
      <li>
        <%= link_to friend.username, profile_path(friend.username) %>
      </li>
    <% end %>
  </ul>
  <br>
  </div>
<% end %>
