<ul id="tabnav">
<!-- TODO: can an user edit or view messages from another user? -->
<!-- TODO: active class in partials %>
  <li>
  <%= link_to t('nlt.user_edit'), user_edit_path(user) %>
  </li>
  <li>
  <%= link_to t('nlt.messages'), messages_list_path %>
  </li>
  <li>
  <%= link_to t('nlt.profile'), profile_path(user) %>
  </li>
  <li>
  <%= link_to t('nlt.user_ads'), listads_user_path(user) %>
  </li>
</ul>
