<ul id="tabnav">
  <!-- TODO: can an user edit or view messages from another user? -->
  <% if user_signed_in? and user == current_user %>
    <li>
      <%= link_to t('nlt.messages'),
                  conversations_path,
                  class: ('active' if messages_tab?) %>
    </li>
  <% end %>

  <li>
    <%= link_to t('nlt.profile'),
                profile_path(user),
                class: ('active' if profile_tab?) %>
  </li>

  <li>
    <%= link_to t('nlt.user_ads'),
                listads_user_path(user),
                class: ('active' if ad_tab?) %>
  </li>
</ul>
