<% content_for(:meta_title, t('devise.passwords.action')) %>

<div id="default_header_section">
  <h1><%= t('devise.passwords.action') %></h1>
</div>

<div class="col-md-8">
  <%= render "edit_form" %>
</div>
