<% title = t('nlt.forgot_your_password') %>
<% content_for(:meta_title, title) %>

<div class="default_header_section">
  <h1><%= title.to_s %></h1>
</div>

<div class="default_content_section">
  <div class="row">
    <div class="col-md-8 col-sm-8">
      <%= render "new_form" %>
    </div>
  </div>
</div>
