<h1>
  <%= I18n.t("mailboxer.notification_mailer.you_have_recieved_new_reply") %>
</h1>

<b><%= I18n.t("mailboxer.message_mailer.message.body") %></b>
<blockquote>
  <p>
  <%= simple_format(@message.body) %>
  </p>
</blockquote>

<p>
  <%= link_to t('mailboxer.message_mailer.visit'),
              conversation_url(id: @message.conversation.id) %>
</p>
