<%= content_for :meta_title, title %>

<div class="panel panel-default">
  <div class="location_header_section panel-heading">
    <h1><%= title %></h1><br>
    <b><a href="/"> « <%= t('nlt.back') %></a></b>
  </div>

  <div class="panel-body">
    <%= yield %>
  </div>
</div>
