<%= content_for :title, title %>

<div class="panel panel-default">
  <div class="static-page-panel-heading">
    <h1><%= title %></h1><br>
    <b><a href="/"> « <%= t('nlt.back') %></a></b>
  </div>

  <div class="panel-body">
    <%= yield %>
  </div>
</div>
