<%= content_for :meta_title, t('nlt.about_page.title') %>

<div id="location_header_section">
  <h2><%= t('nlt.about_page.title') %></h2><br>
  <b><a href="/"> « <%= t('nlt.back') %></a></b>
</div>

<div id="main">
  <div class="span-18">
    <div class="ad_excerpt">
      <%= t('nlt.about_page.description_html') %>
    </div>
  </div>
</div>
