<%= content_for :meta_title, "Acerca de nolotiro.org" %>

<div id="location_header_section">
    <h2>Acerca de nolotiro.org</h2><br>
    <b><a href="/"> « volver a la página de inicio</a></b>
</div>

<div id="main">
<div class="span-18">

<div class="ad_excerpt">

<b>¿Qué es nolotiro.org?</b><br>
Es un sitio web donde ofrecer al público, las cosas que ya no quieres o ya no necesitas para que las recoja otra gente a la que puede servirle o serle de mucha utilidad.
<br><br>
<strong>Lee las <a href="/es/page/faqs">preguntas de uso frecuente</a> para saber mas detalles de la filosofia y objetivos del proyecto</strong>
<br><br>
<b>Ventajas de nolotiro.org:</b><br>
La gran ventaja de nolotiro.org, es que sustituye la nostalgia/sentimiento de derroche, por la sensación de hacer algo por alguien. Logras deshacerte de esas cosas que no tirabas porque te daba pena, porque estaban nuevas, o porque... y que al final solo acumulaban polvo en algún rincón olvidadas u ocupaban espacio, sabiendo que alguien las va a sacar buen partido, porque si que las necesita verdaderamente.
Por otra parte, nolotiro.org al estar organizado por zonas geográficas fomenta que las cosas que quieras dar, se queden cerca, no hay gastos de envío, ni desplazamientos, ni envios a países lejanos que nunca sabes si llegan, se lo das tú mismo a alguien de tu misma ciudad, que va a buscarlo en persona a un lugar pactado.

<br><br>
<b>A tener en cuenta:</b><br>
NO HAY OPCIÓN DE INTERCAMBIO, esto no se basa en el trueque, ni en la compra, por que hay que fomentar el altruismo, dar las cosas por que sí, porque nos sobran.


<br><br>
<b>Explicación en versión literaria</b><br>
<a href="http://www.marcianoduran.com.uy/?p=176">¿Porqué no lo tiro?</a> Por Marciano Durán
<br><br>


<b>Nolotiro.org funciona  gracias al trabajo de muchas <a href="http://www.youtube.com/watch?v=KMU0tzLwhbE">personas</a> que han creado el siguiente software libre:</b>

<a href="http://framework.zend.com/">Zend Framework</a>,
 <a href="http://www.php.net/">PHP</a>,
 <a href="http://www.mysql.com/">MySQL</a>,
 <a href="http://developer.yahoo.com/geo/geoplanet/">Yahoo GeoPlanet API</a>,
 <a href="http://www.postfix.org/">Postfix</a>,
 <a href="http://www.debian.org/">Debian</a>,
 <a href="http://nginx.org/">Nginx</a>, <a href="http://sphinxsearch.com/">Sphinx</a>
 , y muchos mas, tantos que sería imposible nombrarlos todos aquí.

<br><br>
<b>El código fuente de nolotiro.org es código abierto</b> y está disponible para ser utilizado (bajo licencia Affero GPL 3).<br>
Visita la <a href="https://github.com/alabs/nolotiro"> web para desarrolladores</a> para mas detalles (en inglés).<br>
Los colaboradores son bienvenidos, ya sea para programar o para traducir la página a otras lenguas.
</div>
</div>


</div>
