<div id="location_header_section">
    <h2>Preguntas frecuentes</h2><br>
    <b><a href="/"> « volver a la página de inicio</a></b>
</div>

<div id="main">
<div class="span-18">

<strong>* ¿Cuál es el propósito de este proyecto?</strong><br>
El propósito fundamental de esta web es el de deshacernos de los objetos que ya no utilizamos y nos estorban en casa.
<br><br>
<strong>* Entonces ...¿Esta web no es para ayudar a los demás?</strong><br>
Primero a ti directamente pudiéndote deshacer de esas cosas que ya no quieres, y siempre al que regalas algo implícitamente. Lo mejor es enfocarlo egoistamente y controlar la relación de causa-efecto que vamos a desencadenar regalando.
<br>Si enfocamos dicho acto de regalar objetos desde una perspectiva  egoísta, la de deshacernos de cosas útiles,
 pero que nos molestan,porque nos estorban, porque van a ir a la basura, porque son objetos desahuciados ... siempre tendremos una buena experiencia, al no esperar nada mas que  librarnos de dichos objetos.
 Y el saber que alguien le está dando uso o provecho reforzará esa experiencia como positiva. <br>
Es decir: el acto de regalar cosas de valor o útiles siempre es algo positivo si no esperamos una recompensa moral o aplacar nuestra conciencia.
<br><br>
<strong>* Pero a mi me gustaría regalar mis cosas a alguien que realmente lo necesite</strong><br>
En este sitio web tu tienes poder absoluto sobre la decisión de a quién, dónde y cuando regalas tus objetos.
 Por supuesto que lo idóneo es regalar algo a la persona que mas lo necesite.
No hay que malinterpretar la forma en que usamos la palabra egoismo aquí. Pero poder saber si la persona a la que le vamos a dar un objeto se lo merece  es una tarea muy difícil, y fomenta un tipo de conductas que derivan en malas experiencias y juicios de valor que pueden hacer mucho daño.
<br><br>
<strong>* ¿Es verdad que hay gente que luego vende las cosas que regalan aquí?</strong><br>
Aunque las probabilidades de que traficantes de peluches de segunda mano ronden por esta web son bastante remotas,
si así fuese ... no importaría lo mas mínimo si tu enfoque es el de deshacerte de cosas que tu no quieres (el egoista).
Como lo oyes: NO IMPORTA, es mas, aunque no lo creas sigues haciendo algo bueno.
Si regalaste objetos porque no usabas y no sabías que hacer con ellos, pero tampoco los querías tirar a la basura has hecho bien.
Te has hecho bien a ti, y has devuelto ese objeto al <a href="http://www.lapetiteclaudine.com/archives/009217.html">mundo de las cosas útiles,</a> ahorrando dinero a gente y energía, generando riqueza (aunque sea poca, es riqueza). Si por el contrario esta respuesta no te convence entonces no deberías regalar nada aquí y venderlo o donarlo a alguna ONG, donde hacen un seguimiento y selección de dicha gente necesitada (nosotros no podemos garantizar dicho proceso).

<br><br>
<strong>* ¿Qué clase de anuncios puedo publicar en nolotiro?</strong><br>
Sólo hay 2 clases de anuncios: Los de Regalo, en los que ofreces objetos que te estorban o ya no quieres tener. Y los anuncios de Quiero, que sirven para dar pistas e inspirar a la gente sobre que clase de objetos quiere otra gente utilizar o poseer.
<strong>Los anuncios de cambio, venta , pidiendo dinero, comerciales, de empleo, medicamentos,etc no están permitidos.</strong> Y son borrados en cuanto un moderador los detecta, en caso de publicar repetidamente anuncios no deseados, se puede proceder al bloqueo de la cuenta del usuario.
<br><br>
<strong>* ¿No está permitido el intercambio de objetos? que raro</strong><br>
El trueque es un sistema que funciona muy bien en formato físico, esto es, dos personas cara a cara , viendo los objetos y hablando en vivo y en directo. Pero en internet el trueque es muy susceptible de terminar en engaños o insatisfacciones y discusiones eternas.
Además como has podido leer anteriormente , aquí se dan objetos sin condiciones y el trueque tiene el condicionamiento del quid pro quo, es decir: tu me das y yo te doy algo igual.
<br><br>
<strong>* ¿Puedo enviar cosas a gente que no vive en mi ciudad?</strong><br>
Sorprendentemente mucha gente lo hace, y no hay nada malo en que se hagan envíos, pero debes tener un mínimo de precaución con la seriedad del receptor, ha habido casos en que alguien de muy buena fe ha realizado un envío pagando los gastos y luego ha resultado que se le ha devuelto el paquete.
Lo ideal es que no se hagan, se debe fomentar que los objetos circulen lo mas cerca posible, ahorrando energía, y puede servir para conocer mejor a la gente de tu misma ciudad.
Esperamos que en la nueva versión , que hemos enfocado a un concepto local, se consiga.
<a href="http://en.wikipedia.org/wiki/Think_Globally,_Act_Locally">Piensa globalmente, actúa localmente.</a>
</div> 

</div> 
