<%= content_for :meta_title, t('nlt.legal_page.title') %>

<div id="location_header_section">
  <h1><%= t('nlt.legal_page.title') %></h1><br>
  <b><a href="/"> « <%= t('nlt.back') %></a></b>
</div>

<div id="main">
  <div class="col-md-9">
    <div class="ad_excerpt">
      <%= t('nlt.legal_page.body_html') %>
    </div>
  </div> 
</div>
