<div id="location_header_section">
<h1>Privacidad</h1><br>
<b><a href="/"> « volver a la página de inicio</a></b>
</div>

<div id="main">
<div class="span-18">
    <div class="ad_excerpt">

nolotiro.org (en adelante sitio web) pertenece y es administrado por:<br><br>
aLabs<br>
Embajadores, 35 Local 6
<br>
28012 Madrid, España<br>
<br><br>

Pueden contactar en el formulario de contacto habilitado a tal efecto en el sitio web. El acceso al sitio web, implica la plena aceptación de la presente política de privacidad y de los términos de uso.
<br><br>
En relación al cumplimiento de la Ley Orgánica 15/1999, de 13 de Diciembre, de Protección de Datos de Carácter Personal (LOPD), le informamos que este sitio web  almacena de forma automatizada los datos proporcionados en el formulario de usuario registrado al efecto de poder proporcionarle al usuario los servicios del sitio web de una forma personalizada como son: gestión de su cuenta de usuario, publicación de anuncios, y gestión de sistema de mensajes privados entre usuarios.
<br><br>
El término mensajes privados se refiere a que la posibilidad de acceso a dichos mensajes privados será exclusivamente entre dos usuarios, sin posibilidad por parte de terceros usuarios a acceder a dicho contenido. Sin embargo , en la base de datos los mensajes se guardan en texto plano, pudiendo ser puestos a disposición de las fuerzas de seguridad en caso de comisión de delito o de requerimiento judicial.
<br><br>
El usuario se abstendrá de publicar datos personales suyos o de terceros en los anuncios como pueden ser direcciones de email, teléfonos, direcciones postales, etc.
El sitio web, tomará las medidas necesarias para la preservación de los datos personales, aun cuando el usuario ignore estos términos de privacidad. Es por eso que hemos desarrollado un filtro de emails y telefonos en los anuncios para evitar que dicha información sea recopilada por sistemas automáticos y robots de indexación.
Esto no exime de la última responsabilidad del usuario en cuanto a la publicación de datos personales suyos o de terceros. Y se hace solamente porque creemos que muchos usuarios no son conscientes de la importancia de la preservación de sus datos personales.
<br><br>
Formulario de contacto:<br>
le informamos que los datos personales facilitados por el usuario en el formulario de contacto son guardados con la única finalidad de contacto con el usuario, estos datos no serán utilizados en ningún caso para el envio mensajes publicitarios así como tampoco serán cedidos a terceros.
<br>
En cualquier momento puede ejercer los derechos de acceso, rectificación y cancelación de sus datos dirigiéndose por cualquiera de los medios de comunicacion indicados en el primer párrafo.
<br><br>
Cookies de sesión:<br>
El acceso a este sitio implica la utilización de cookies de sesión. Las cookies de sesión son pequeñas cantidades de información que se almacenan en el navegador utilizado por cada usuario para que el servidor recuerde cierta información que posteriormente pueda utilizar. Esta información permite identificarle a usted como un usuario concreto de forma anónima.
<br><br>
Adicionalmente este sitio puede albergar elementos en el código fuente de las páginas que se utilizan para medir el tráfico de usuarios que visitan una página web y poder sacar un patrón de visitas de los usuarios. Esta información anónima puede ser compartida con empresas clientes, proveedores, patrocinadores y anunciantes.
<br><br>
Actualmente utilizamos los servicios de Google Analytics para la medición del tráfico de este sitio que puede capturar la información descrita anteriormente. Puede ver más información sobre la política de privacidad en el sitio web de Google:
Google (Analytics): http://www.google.com/intl/es_ALL/privacypolicy.html
<br><br>
Este sitio también puede albergar publicidad propia, de afiliados, o de redes publicitarias. Esta publicidad se muestra mediante servidores publicitarios que también utilizan cookies para mostrar contenidos publicitarios afines a los usuarios. Cada uno de estos servidores publicitarios dispone de su propia política de privacidad, que puede ser consultada en sus propias páginas web.
Actualmente este sitio alberga publicidad de Google Adsense: http://www.google.com/intl/es_ALL/privacypolicy.html
</div>
</div> 


<div class="google_ads">

</div>


</div>