<%= render layout: 'static_page',
           locals: { title: 'Política de Privacidad' } do %>
  <p>
    nolotiro.org (en adelante sitio web) pertenece y es administrado por: aLabs
    (C/ San Vicente Ferrer 45, 2-D, 28004 Madrid, España).
  </p>

  <p>
    Pueden contactar a través de la dirección de correo electrónico hola [arroba]
    nolotiro.org. El acceso al sitio web, implica la plena aceptación de la
    presente política de privacidad y de los términos de uso.
  </p>

  <p>
    En relación al cumplimiento de la Ley Orgánica 15/1999, de 13 de Diciembre,
    de Protección de Datos de Carácter Personal (LOPD), le informamos que este
    sitio web almacena de forma automatizada los datos proporcionados en el
    formulario de usuario registrado al efecto de poder proporcionarle al
    usuario los servicios del sitio web de una forma personalizada como son:
    gestión de su cuenta de usuario, publicación de anuncios, y gestión de
    sistema de mensajes privados entre usuarios.
  </p>

  <p>
    El término mensajes privados se refiere a que la posibilidad de acceso a
    dichos mensajes privados será exclusivamente entre dos usuarios, sin
    posibilidad por parte de terceros usuarios a acceder a dicho contenido. Sin
    embargo, en la base de datos los mensajes se guardan en texto plano,
    pudiendo ser puestos a disposición de las fuerzas de seguridad en caso de
    comisión de delito o de requerimiento judicial.
  </p>

  <p>
    El usuario se abstendrá de publicar datos personales suyos o de terceros en
    los anuncios como pueden ser direcciones de email, teléfonos, direcciones
    postales, etc. El sitio web, tomará las medidas necesarias para la
    preservación de los datos personales, aun cuando el usuario ignore estos
    términos de privacidad. Es por eso que hemos desarrollado un filtro de
    emails y telefonos en los anuncios para evitar que dicha información sea
    recopilada por sistemas automáticos y robots de indexación. Esto no exime de
    la última responsabilidad del usuario en cuanto a la publicación de datos
    personales suyos o de terceros. Y se hace solamente porque creemos que
    muchos usuarios no son conscientes de la importancia de la preservación de
    sus datos personales.
  </p>

  <p>
    Le informamos que los datos personales facilitados por el usuario en el
    formulario de contacto son guardados con la única finalidad de contacto con
    el usuario, estos datos no serán utilizados en ningún caso para el envio
    mensajes publicitarios así como tampoco serán cedidos a terceros.
  </p>

  <p>
    El Usuario podrá ejercer sus derechos de acceso, rectificación,
    supresión y oposición, así como la limitación y portabilidad de sus
    datos en cumplimiento de lo establecido en la normativa vigente de
    protección de datos por cualquiera de los medios de comunicacion
    indicados en el primer y segundo párrafo de esta página. Teniendo en
    cuenta que el ejercicio de los mismos es personalísimo, será necesario
    que el afectado acredite su identidad. El ejercicio de estos derechos
    deberá realizarse mediante comunicación por escrito firmada por el
    titular de los datos, con indicación de su domicilio, adjuntando copia
    de su Documento Nacional de Identidad u otro documento acreditativo,
    dirigiéndose a nolotiro por los medios indicados en los párrafos primero
    y segundo de esta página.
  </p>

  <p>
    Nolotiro informa a sus Usuarios de que sus datos personales serán
    conservados durante el tiempo estrictamente necesario para las
    finalidades del tratamiento para cuyo uso hayan sido proporcionados,
    siempre que el Usuario no haya revocado su consentimiento y, en todo
    caso, siguiendo como criterio el principio de minimización de datos
    contemplado en la normativa aplicable.
  </p>

  <p>
    En particular, los datos personales proporcionados por los Usuarios se
    conservarán por el plazo determinado sobre la base de los siguientes
    criterios: (i) obligación legal de conservación; (ii) duración de la
    relación del usuario con la web; (iii) solicitud de supresión por parte
    del interesado en los supuestos en los que proceda.
  </p>

  <p>
    En consecuencia, cuando su uso no sea necesario, los datos personales
    serán bloqueados quedando sólo a disposición de las autoridades
    competentes durante el tiempo y a los efectos legales establecidos en la
    normativa aplicable. Transcurrido este plazo se procederá a la
    eliminación de los mismos.
  </p>

  <p>
    El acceso a este sitio implica la utilización de cookies de sesión. Las
    cookies de sesión son pequeñas cantidades de información que se almacenan en
    el navegador utilizado por cada usuario para que el servidor recuerde cierta
    información que posteriormente pueda utilizar. Esta información permite
    identificarle a usted como un usuario concreto de forma anónima.
  </p>

  <p>
    Adicionalmente este sitio puede albergar elementos en el código fuente de
    las páginas que se utilizan para medir el tráfico de usuarios que visitan
    una página web y poder sacar un patrón de visitas de los usuarios. Esta
    información anónima puede ser compartida con empresas clientes, proveedores,
    patrocinadores y anunciantes.
  </p>

  <p>
    Actualmente utilizamos los servicios de Google Analytics para la medición
    del tráfico de este sitio que puede capturar la información descrita
    anteriormente. Puede ver más información sobre la política de privacidad en
    el <%= link_to "sitio web de Google",
                   "https://www.google.com/intl/es/policies/privacy/" %>.
  </p>

  <p>
    Este sitio también puede albergar publicidad propia, de afiliados, o de
    redes publicitarias. Esta publicidad se muestra mediante servidores
    publicitarios que también utilizan cookies para mostrar contenidos
    publicitarios afines a los usuarios. Cada uno de estos servidores
    publicitarios dispone de su propia política de privacidad, que puede ser
    consultada en sus propias páginas web.  Actualmente este sitio alberga
    publicidad de
    <%= link_to "Google Adsense",
                "https://www.google.com/intl/es/policies/privacy/" %>.
  </p>
<% end %>
