<%= content_for :meta_title, t('nlt.privacy_page.title') %>

<div id="location_header_section">
  <h1><%= t('nlt.privacy_page.title') %></h1><br>
  <b><a href="/"> « <%= t('nlt.back') %></a></b>
</div>

<div class="col-md-9 col-sm-9">
  <div class="ad_excerpt">
    <%= t('nlt.privacy_page.body_html') %>
  </div>
</div> 
