<%= render layout: 'static_page', locals: { title: 'Privacy Policy' } do %>
  <p>
    nolotiro.org (hereinafter website) is owned and managed by: aLabs (C/ Duque
    de Alba, 13 28012 Madrid, Spain).
  </p>

  <p>
    Can contact in the contact form enabled for this purpose on the website.
    Access to the website implies full acceptance of the present privacy policy
    and terms of use.
  </p>

  <p>
    In relation to compliance with the Organic Law 15/1999, of December 13,
    Protection of Personal Data (Act), we inform you that this website stores
    automated data provided on the form registered user to effect the user to
    provide website services in a personalized way, such as: managing your user
    account, ads, and management system of private messages between users.
  </p>

  <p>
    The term private messages refers to the possibility of access to such
    private messages will be exclusively between two users without possibility
    third party users to access such content. However, database messages are
    stored in plain text and can be made available to law enforcement in case of
    commission of crime or injunction.
  </p>

  <p>
    The user shall not publish or third parties own personal data in ads such as
    email addresses, phone numbers, addresses, etc. The website, will take the
    necessary measures for the preservation of personal data, even if the user
    ignores these terms of privacy. That's why we developed a filter emails and
    telephone listings to prevent such information from being collected by
    automatic systems and robots of indexing. This does not remove the ultimate
    responsibility of the user as to the publication of his personal data or
    third parties. And it is only because we believe that many users are unaware
    of the importance of the preservation of their personal data.
  </p>

  <p>
    We inform you that the personal data provided by the user in the contact
    form is saved for the sole purpose of contact with the user, these data will
    not be used under any circumstances for sending advertising messages nor be
    disclosed to third parties.
  </p>

  <p>
    At any time you can exercise your right of access, rectification and
    deletion of data by any of the media mentioned in the first paragraph.
  </p>

  <p>
    Access to this site involves the use of session cookies. Session cookies are
    small pieces of information that are stored on the browser used by each user
    for the server to remember certain information that can be used later. This
    information can identify you as an individual user anonymously.
  </p>

  <p>
    Addition this site can accommodate elements in the source code of the pages
    that are used to measure the traffic of users who visit a website and can
    draw a pattern of user visits. This anonymous information can be shared with
    corporate customers, suppliers, sponsors and advertisers.
  </p>

  <p>
    Services currently use Google Analytics to measure the traffic on this site
    that can capture the information described above. You can see more
    information about the privacy policy on the website of Google: Google
    (Analytics): https://www.google.com/intl/es_ALL/privacypolicy.html
  </p>

  <p>
    This site also can host advertising own, affiliate or advertising networks.
    This advertisement is shown through servers that also use cookies to display
    content related advertising to users. Each of these servers advertising has
    its own privacy policy, which can be consulted on their own web pages.
    Currently this site contains advertising from Google Adsense:
    https://www.google.com/intl/es_ALL/privacypolicy.html
  </p>
<% end %>
