<%= render layout: 'static_page',
           locals: { title: 'Politique de confidentialité' } do %>
  <p>
    nolotiro.org (site Web ci-après) est détenu et géré par: aLabs (C/ Duque
    de Alba, 13, 28012, Madrid, Espagne).
  </p>

  <p>
    Peut contacter dans le formulaire de contact a permis à cet effet sur le
    site. L'accès au site implique l'acceptation de cette politique et
    conditions d'utilisation vie privée.
  </p>

  <p>
    En ce qui concerne le respect de la loi 15/1999, du 13 Décembre, la
    protection des données personnelles (LOPD), nous vous informons que ce site
    stocke les données automatisées fournies sur le formulaire ils ont
    enregistré l'utilisateur pour effectuer l'utilisateur pour fournir des
    services du site Web d'une manière personnalisée, tels que: la gestion de
    votre compte utilisateur, annonces, et le système de gestion des messages
    privés entre les utilisateurs.
  </p>

  <p>
    Les messages privés terme se réfère à la possibilité d'avoir accès à ces
    messages privés seront exclusivement entre deux utilisateurs, sans aucune
    possibilité d'utilisateurs tiers d'accéder au contenu. Cependant, dans les
    messages de base de données sont stockées dans le texte brut et peut être
    mis à la disposition des forces de sécurité en cas de perpétration d'un
    crime ou d'une injonction.
  </p>

  <p>
    L'utilisateur ne doit pas publier ou de tiers posséder des données
    personnelles dans les annonces telles que les adresses électroniques,
    numéros de téléphone, adresses, etc. Le site, de prendre les mesures
    nécessaires à la préservation des données personnelles, même si
    l'utilisateur ignore ces termes de vie privée. Voilà pourquoi nous avons
    développé un des e-mails de filtre et le téléphone dans les annonces pour
    empêcher que ces informations soient recueillies par des systèmes et des
    robots d'indexation automatique. Cela ne supprime pas la responsabilité
    ultime de l'utilisateur quant à la publication de ses données personnelles
    ou de tiers. Et il est seulement parce que nous croyons que de nombreux
    utilisateurs ne sont pas conscients de l'importance de la préservation de
    leurs données personnelles.
  </p>

  <p>
    Nous vous informons que les données personnelles fournies par l'utilisateur
    dans le formulaire de contact sont stockés dans le seul but de contact avec
    l'utilisateur, ces données ne seront pas utilisées dans tous les cas pour
    l'envoi de messages publicitaires, ni être transférées à des tiers.
  </p>

  <p>
    A tout moment vous pouvez exercer vos droits d'accès, de rectification et
    de suppression des données par l'un des médias mentionnés au premier
    alinéa.
  </p>

  <p>
    Accès à ce site implique l'utilisation de cookies de session. Les cookies
    de session sont de petits éléments d'information qui sont stockés dans le
    navigateur utilisé par chaque utilisateur pour le serveur de se rappeler
    certaines informations qui peuvent être utilisées plus tard.  Cette
    information peut vous identifier comme un utilisateur spécifique anonyme.
  </p>

  <p>
    Outre, ce site peut accueillir des éléments dans le code source des pages
    qui sont utilisés pour mesurer le trafic des utilisateurs qui visitent un
    site Web et peut tirer un motif de visites d'utilisateurs. Cette information
    anonyme peut être partagée avec les clients d'entreprise, les fournisseurs,
    les sponsors et les annonceurs.
  </p>

  <p>
    Actuellement, nous utilisons les services de Google Analytics pour mesurer
    le trafic de ce site qui permet de capturer les informations décrites
    ci-dessus. Vous pouvez voir plus d'informations sur la politique de
    confidentialité sur le
    <%= link_to "site de Google",
                "https://www.google.com/intl/fr/policies/privacy/" %>.
  </p>

  <p>
    Ce site peut également accueillir la publicité réseaux propres, affiliés ou
    publicitaires. Cette annonce est montré à travers les serveurs qui utilisent
    également des cookies pour afficher le contenu lié la publicité pour les
    utilisateurs. Chacun de ces serveurs publicitaires a sa propre politique de
    confidentialité, qui peut être consulté sur leurs propres pages Web.
    Actuellement, ce site héberge la publicité
    <%= link_to "Google Adsense",
                "https://www.google.com/intl/fr/policies/privacy/" %>.
  </p>
<% end %>
