<%= render layout: 'static_page',
           locals: { title: 'Política de Privacidade' } do %>
  <p>
    nolotiro.org (en adelante site web) pertenece e é administrado por: aLabs
    (C/ Duque de Alba, 13, 28012, Madrid, España).
  </p>

  <p>
    Poden contactar no formulario de contacto habilitado para elo neste mesmo
    site web. O acceso ó site web implica a total aceptación da presente
    política de privacidade e dos termos de uso.
  </p>

  <p>
    En relación ó cumprimento da Lei Orgánica 15/1999, do 13 de decembro, de
    Protección de datos de Carácter Persoal (LOPD), informámoslle que este site
    web almacea de maneira automatizada os datos proporcionados no formulario de
    usuario rexistrado para poder proporcionarlle ó usuario os servizos do site
    web de maneira persoalizada como son: xestión da conta de usuario,
    publicación de anuncios e xestión do sistema de mensaxes privadas entre
    usuarios.
  </p>

  <p>
    O termo de mensaxes privadas refírese a que a posibilidade de acceso a ditas
    mensaxes privadas será exclusivamente entre dous usuarios, sen posibilidade
    por parte de terceiros usuario a acceder a dito contido. Non obstante, na
    base de datos, as mensaxes gárdanse en texto chan, podendo ser postos a
    disposición das forzas de seguridade no caso de comisión de delicto ou de
    requerimento xudicial.
  </p>

  <p>
    O usuario absterase de publicar datos persoais seus ou de terceiros nos
    anuncios como direccións de email, teléfonos, direccións postais, etc. Este
    site web tomará as medidas necesarias para a preservación dos datos
    persoais, ainda cando o usuario ignore estos termos de privacidade. É por
    iso que desenvolvemos un filtro de emails e teléfonos nos anuncios para
    evitar que dita información sexa recopilada por sistemas automáticos e
    robots de indexación. Isto non exime da última responsabilidade do usuario
    en canto á publicación de datos persoais seus ou de terceiros. E faise
    soamente porque cremos que moitos usuarios non son conscentes da importancia
    da preservación dos seus datos persoais.
  </p>

  <p>
    Informámoslle que os datos persoais facilitados polo usuario no formulario
    de contacto son gardados coa única finalidade de contactar co usuario, estos
    datos non serán empregado en ningún caso para o envío de mensaxes
    publicitarios como tampouco serán cedidos a terceiros.
  </p>

  <p>
    En calquera momento pode exercer os dereitos de acceso, rectificación e
    cancelación dos seus datos dirixíndose por calquera dos medios de
    comunicación indicados no primeiro parágrafo.
  </p>

  <p>
    O acceso a este site web implica a utilización de cookies de sesión. As
    cookies de sesión son pequenas cantidades de información que se almacenan no
    navegador utilizado por cada usuario para que o servidor lembre certa
    información que posteriormente pode utilizar. Esta información permite
    identificalo a vostede como un usuario concreto de forma anónima.
  </p>

  <p>
    Adicionalmente, este site web pode albergar elementos no código fonte das
    páxinas que se utilizan para medir o tráfico de usuarios que visitan unha
    páxina web e poder sacar un patrón de visitas dos usuarios. Esta información
    anónima pode ser compartida con empresas clientes, provedores,
    patrocinadores e anunciantes.
  </p>

  <p>
    Actualmente utilizamos os servizos de Google Analytics para a medición do
    tráfico deste site web que pode capturar a información descrita
    anteriormente. Pode ver máis información sobre a política de privacidade
    no <%= link_to "site web de Google",
                   "https://www.google.com/intl/gl/policies/privacy/" %>.
  </p>

  <p>
    Este site web tamén pode albergar publicdidade propia, de afiliados, ou de
    redes publicitarias. Esta publicidade amósase mediante servidores
    publicitarios que tamén utilizan cookies para amosar contidos publicitarios
    afíns ós usuarios. Cada un destes servidores publicitarios dispón da súa
    propia política de privacidade, que pode ser consultada nas súas propias
    páxinas webs. Actualmente este site web alberga publicidade de
    <%= link_to "Google Adsense",
                "https://www.google.com/intl/gl/policies/privacy/" %>.
  </p>
<% end %>
