<%= render layout: 'static_page',
           locals: { title: 'Política de privacitat' } do %>
  <p>
    nolotiro.org (en endavant lloc web) pertany i és administrat per: aLabs (C/
    Duque de Alba, 13, 28012, Madrid, Espanya).
  </p>

  <p>
    Podeu contactar en el formulari de contacte habilitat a aquest efecte en el
    lloc web. L'accés al lloc web, implica la plena acceptació de la present
    política de privacitat i dels termes d'ús.
  </p>

  <p>
    En relació al compliment de la Llei Orgànica 15/1999, de 13 de desembre, de
    Protecció de Dades de Caràcter Personal (LOPD), l'informem que aquesta
    pàgina web emmagatzema de forma automatitzada les dades proporcionades en el
    formulari d'usuari registrat a l'efecte de poder proporcionar-li al usuari
    els serveis del lloc web d'una manera personalitzada com són: gestió del seu
    compte d'usuari, publicació d'anuncis, i gestió de sistema de missatges
    privats entre usuaris.
  </p>

  <p>
    El terme missatges privats es refereix al fet que la possibilitat d'accés a
    aquests missatges privats serà exclusivament entre dos usuaris, sense
    possibilitat per part de tercers usuaris a accedir a aquest contingut. No
    obstant això, a la base de dades dels missatges es guarden en text pla,
    podent ser posats a disposició de les forces de seguretat en cas de comissió
    de delicte o de requeriment judicial.
  </p>

  <p>
    L'usuari s'abstindrà de publicar dades personals seus o de tercers en els
    anuncis com poden ser adreces de correu electrònic, telèfons, adreces
    postals, etc. El lloc web, prendrà les mesures necessàries per a la
    preservació de les dades personals, tot i que l'usuari ignori aquests
    termes de privacitat. És per això que hem desenvolupat un filtre d'emails i
    telèfons en els anuncis per evitar que aquesta informació sigui recopilada
    per sistemes automàtics i robots d'indexació. Això no eximeix de l'última
    responsabilitat de l'usuari pel que fa a la publicació de dades personals
    seus o de tercers. I es fa només perquè creiem que molts usuaris no són
    conscients de la importància de la preservació de les seves dades personals.
  </p>

  <p>
    L'informem que les dades personals facilitades per l'usuari en el formulari
    de contacte són guardats amb l'única finalitat de contacte amb l'usuari,
    aquestes dades no seran utilitzades en cap cas per al enviament missatges
    publicitaris així com tampoc seran cedides a tercers.
  </p>

  <p>
    Pis En qualsevol moment pot exercir els drets d'accés, rectificació i
    cancel·lació de les seves dades dirigint-se per qualsevol dels mitjans de
    comunicació indicats en el primer paràgraf.
  </p>

  <p>
     L'accés a aquest lloc implica l'utilització de cookies de sessió. Les
     galetes de sessió són petites quantitats d'informació que s'emmagatzemen
     en el navegador utilitzat per cada usuari perquè el servidor recordi certa
     informació que posteriorment pugui utilitzar. Aquesta informació permet
     identificar a vostè com un usuari concret de forma anònima.
  </p>

  <p>
    Addicionalment aquest lloc pot albergar elements en el codi font de les
    pàgines que s'utilitzen per mesurar el trànsit d'usuaris que visiten una
    pàgina web i poder treure un patró de visites dels usuaris. Aquesta
    informació anònima pot ser compartida amb empreses clients, proveïdors,
    patrocinadors i anunciants.
  </p>

  <p>
    Actualment utilitzem els serveis de Google Analytics per al mesurament del
    trànsit d'aquest lloc que pot capturar la informació descrita anteriorment.
    Podeu veure més informació sobre la política de privacitat en el lloc web de
    Google: Google (Analytics):
    https://www.google.com/intl/es_ALL/privacypolicy.html
  </p>

  <p>
    Aquest lloc pot albergar publicitat pròpia, d'afiliats, o de xarxes
    publicitàries. Aquesta publicitat es mostra mitjançant servidors
    publicitaris que també utilitzen cookies per mostrar continguts publicitaris
    afins als usuaris. Cadascun d'aquests servidors publicitaris disposa de la
    seva pròpia política de privacitat, que pot ser consultada en les seves
    pròpies pàgines web.  Actualment aquest lloc alberga publicitat de Google
    Adsense: https://www.google.com/intl/es_ALL/privacypolicy.html
  </p>
<% end %>
