<%= content_for :meta_title, "Términos de uso" %>

<div id="location_header_section">
<h1>Términos de uso</h1><br>
<b><a href="/"> « volver a la página de inicio</a></b>
</div>

<div id="main">
<div class="span-18">
TODO 
</div>
</div>
