<%= content_for :meta_title, t('nlt.translate.title') %>

<div id="location_header_section">
  <h1><%= t('nlt.translate.title') %></h1><br>
</div>

<div class="col-md-9 col-sm-9">
  <div class="row">
    <fieldset>
      <% translate_it = link_to t('nlt.translate.link'),
                                'http://accounts.localeapp.com/projects/6872' %>

      <%= t('nlt.translate.description_html', translate_it: translate_it) %>
    </fieldset>
  </div>
</div>
