<%= content_for :meta_title, t('nlt.translate.title') %>

<div id="location_header_section">
  <h2><%= t('nlt.translate.title') %></h2><br>
  <b><a href="/"> « <%= t('nlt.back') %></a></b>
</div>

<div id="main">
  <div class="span-18">
    <%= t('nlt.translate.description_html') %>
  </div>
</div>
