<%= content_for :meta_title, "Ayúdanos a traducir nolotiro.org a tu idioma" %>

<div id="location_header_section">
  <h2>Ayúdanos a traducir nolotiro.org a tu idioma</h2><br>
  <b><a href="/es"> &lt; volver a la página de inicio</a></b>
</div>

<div id="main">
  <div class="span-18">
    Actualmente, Nolotiro.org está disponible en pocos idiomas, pero tú puedes ayudarnos a <%= link_to "traducirlo al tuyo", "http://accounts.localeapp.com/projects/6872"%>.
  </div>
</div>
