<%= content_for :meta_title, t('nlt.translate.title') %>

<div id="location_header_section">
  <h2><%= t('nlt.translate.title') %></h2><br>
</div>

<div id="main">
  <fieldset>
    <div class="span-18">
      <%= t('nlt.translate.description_html') %>
    </div>
  </fieldset>
</div>
