<%= content_for :meta_title, t('nlt.translate.title') %>

<div id="location_header_section">
  <h2><%= t('nlt.translate.title') %></h2><br>
</div>

<div class="col-md-9">
  <div class="row">
    <fieldset>
      <%= t('nlt.translate.description_html') %>
    </fieldset>
  </div>
</div>
