<div class="filter_status">
  <%= link_to t('nlt.available'),
              url_for(params.merge(type: 'give', status: 'available').except(:page)),
              status_scope == "available" ? { class: "actual" } : {} %>

  <%= link_to t('nlt.booked'),
              url_for(params.merge(type: 'give', status: 'booked').except(:page)),
              status_scope == "booked" ? { class: "actual" } : {} %>

  <%= link_to t('nlt.delivered'),
              url_for(params.merge(type: 'give', status: 'delivered').except(:page)),
              status_scope == "delivered" ? { class: "actual" } : {} %>
</div>
