defaults: &defaults
  geoplanet_app_id: ""
  devise_secret_key: ''
  debug_ip_address: '8.8.8.8'
  langs_routes: 'es|en|ca|gl|eu|nl|de|fr|pt|it'
  langs: 'es en ca gl eu nl de fr pt it'
  localeapp_apikey: ''
  secret_token: ''
  secret_key_base: ''
  emails:
    contact: "@"
    contact: "@"
    default_from: "noreply@nolotiro.org"
  recaptcha:
    public_key: ""
    private_key: ""
  airbrake:
    apikey: ''
    host: ''
    port: '80'

development:
  <<: *defaults
  secret_key_base: ""
 
test:
  <<: *defaults
  secret_key_base:
 
production:
  <<: *defaults
  secret_key_base: 

