<% content_for :meta_title, t('nlt.sign_in') %>

<div class="default_header_section">
  <h1><%= t('nlt.to_publish_or_send_messages') %></h1>
  <br><br>
  (<%= t 'nlt.if_you_are_new' %>
  <%= link_to t('nlt.register_here'), new_user_registration_path %>)
</div>

<div class="default_content_section">
  <div class="row">
    <%= render "form" %>
  </div>
</div>
