<%= form_tag action: "change" do %>
  <div class="form-group">
    <%= select_tag :location,
                   options_for_select(location_options),
                   class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= submit_tag t('nlt.change_town.choose') %>
  </div>
<% end %>
