<% content_for :title, t('nlt.change_your_city') %>

<div class="main-row">
  <div class="col-md-6 col-sm-6">
    <div class="default_header_section">
      <h1><%= content_for :title %></h1>
    </div>

    <div class="default_content_section">
      <%= render "ask_form" %>
    </div>
  </div>

  <div class="col-md-6 col-sm-6">
    <div class="google_ad_wrapper">
      <%= render "partials/google_adsense", class_name: "google_adsense_300_250", ad_slot: "8702329269" %>
    </div>
  </div>
</div>
