<%= content_for(:meta_title, t('nlt.change_your_city')) %>

<div class="default_header_section">
  <h1><%= t('nlt.change_your_city') %></h1>
</div>

<div class="col-md-8 col-sm-8">
  <div class="row">
    <%= render "ask_form" %>
  </div>
</div>

<div class="col-md-4 col-sm-4">
  <%= render "partials/google_adsense", class_name: "google_adsense_336_280", ad_slot: "7225596067" %>
</div>
