
<div id="default_header_section">
  <h1>Cambia tu ciudad</h1>
</div>

<div id="main">
  <div class="span-16">
    <%= render partial: "ask_form", :locals => { location_suggest: @location_suggest } %>
  </div>
</div>
