<% content_for :meta_title, t('nlt.contact_form') %>

<div id="default_header_section">
  <h2><%= t('nlt.contact_form') %></h2>
  <br>
  <%= t('nlt.contact_legend_html',
        new_ad_link: link_to(t('nlt.here'), new_ad_path)) %>
</div>

<div class="col-md-8">
  <div class="row">
    <%= render 'form', contact: @contact %>
  </div>
</div>
