.ad-hero{
  h1{
    font-size: 2rem;
    font-weight: normal;
  }
  .location,.time{
    display: block;
  }
  a.btn{
    color: white;
  }
  .ad_report{
    span{
      display: block;
    }
  }
  .body-wrapper{
    margin-bottom: 2rem;
  }
}
