<p><%= t('nlt.hello_to', :recipient => @resource.email) %></p>

<p><%= t('devise.confirmations.instructions') %></p>

<p><%= link_to t('devise.confirmations.action'),
         confirmation_url(@resource, :confirmation_token => @token) %></p>
