<p><%= t('nlt.hello_to', :recipient => @resource.email) %></p>

<p><%= t('devise.passwords.follow_instructions') %></p>

<p><%= link_to t('devise.passwords.action'), edit_password_url(@resource, :reset_password_token => @token) %></p>

